body {
  margin: 0%;
}
.wrapper{
  margin-left: 5%;
  max-width: 100%;
  margin-right: 5%;
}
/*  header--------*/
header{
  background-color: pink;
  max-height: 100%;
}
.head{
  display: flex;
  flex-direction: row;
}
.head ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.head ul li{
  list-style-type: none;
  border: 20px solid pink;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.search{
  padding-right: 5px;
  margin: 16px 0px 16px auto;
}

h1 {
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 50px;
}


/*main---------*/

main{
  background-image: url(img/beer.jpg);
  max-height: 100%;
  display: flex;
  z-index: -2;
}

.card-wrapper {
  position: relative;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: calc(200px + 30vh);
  width: calc(200px + 15vh);
  background-color: white;
  margin: 100px auto 80px 20%;
}
.card-header{
  background-color: lightgray;
  height: calc(60px + 30vh);
  width: calc(170px + 15vh);
}
h1.beer-name{
      
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 30px;
}
img.beer-img{
  width: 50px;
  max-height: 150px;
  margin: 45px 89px 45px 89px;
}
button.random-beer{
  padding: 0;
  border: none;
  background: none;
  margin-left: 150px;
}
button.random-beer:hover{
  cursor: pointer;
}

/*footer----------*/
footer{
  background-color: powderblue;
  display: flex;
  flex-direction: row;
}
.beer-details{
  margin: 20px;
  
}